/* * {
    border: 2px solid red;
} */

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: hsl(221, 45%, 89%);
  color: hsl(220, 15%, 55%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 100%;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}

.card__container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 300px;
  padding: 15px;
  border-radius: 20px;
}

.card__container img {
  border-radius: 10px;
}

.text__container {
  padding: 0 20px;
  text-align: center;
}

.title {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
